body {
    font-family: Arial, sans-serif;
    background: #12121d;
    display: flex;
    justify-content: center;

    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;

    color: #333;


}


.container {
    display: flex;
    color: #ccb3b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    background: #1f2229;
}

#quiz {
    text-align: center;
}

.options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    margin: 8px;
    margin-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background: rgb(184, 150, 106);
}

button:hover {
    color: rgb(184, 150, 106);
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgb(184, 150,
            106);
    background: transparent;
    transition: all 0.5s;

}

.next-btn {
    background-color: #8492b9;
    margin-top: 10px;
}

.next-btn:hover {
    background-color: hsl(60, 100%, 42%);

}

.result {
    text-align: center;
    margin-top: 20px;
}

.result h2 {
    color: #4CAF50;
}

.result p {
    font-size: 20px;
    font-weight: bold;
}


/*quiz form css*/
.quiz-container {
    background: #1f2229;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: whitesmoke;

}

h1 {
    color: #efdddd;
}

form {
    text-align: left;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}