body {
    font-family: Arial, sans-serif;
    background-color: #1f1b3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    margin-top: auto;

}

.container {
    display: flex;
    background-color: #716161;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

#quiz {
    text-align: center;
}

.options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    margin: 8px;
    margin-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.next-btn {
    background-color: #4CAF50;
    margin-top: 10px;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.result h2 {
    color: #4CAF50;
}

.result p {
    font-size: 20px;
    font-weight: bold;
}


/*quiz form css*/
.quiz-container {
    background-color: #716161;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

form {
    text-align: left;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}