/*navbar style*/
body {

  margin: 0%;
  padding: 0%;



}

.topnav {
  display: flex;
  background: transparent;
  overflow: hidden;
  position: fixed;
  z-index: 1;




}

.hamburger span {
  display: block;
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.2s;
  padding: 0px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 22px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: rgb(221, 225, 240);
  color: #676161;
  transition: all 0.8s;
}

.topnav .icon:hover {
  background: transparent;
  color: #fff;
}

.topnav .icon {
  display: none;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
    margin: 0px;
    padding: 9px 18px;
  }

  .topnav a.icon {
    float: right;
    display: block;
    margin: 0%;
    padding-left: 40px;

  }

  .topnav {
    width: 100%;
    justify-content: space-between;
  }
}

.topnav.responsive a {
  display: block;
}

.topnav.responsive {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  width: 30%;
  z-index: 1;
  background-color: black;
  margin-left: 70%;



}

.main-container {
  display: flex;
  flex-direction: column;
  color: #f2f2f2;
  background-color: rgb(8, 8, 8);
  z-index: 0;
  padding-top: 60px;


  position: relative
}

.header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.6;

}

.header-left {
  padding-left: 20%;
  font-size: 25px;
}