body {
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background: #121213;
    padding: 0%;
    margin: 0%;
    color: #fff;
}

/*  for navbar */
.topnav {
    display: flex;
    background: transparent;
    overflow: hidden;
    /* position: fixed;
    z-index: 1; */




}

.hamburger span {
    display: block;
    width: 35px;
    height: 2px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.2s;
    padding: 0px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 22px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    color: rgb(184, 150, 106);
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgb(184, 150,
            106);
    cursor: pointer;
    transition: all 0.5s;

    padding: 0px 18px;
}

.topnav .icon:hover {
    background: transparent;
    color: #fff;
}

.topnav .icon {
    display: none;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
        margin: 0px;
        padding: 9px 18px;
    }

    .topnav a.icon {
        float: right;
        display: block;
        margin: 0%;
        padding-left: 40px;

    }

    .topnav {
        width: 100%;
        justify-content: space-between;
    }
}

.topnav.responsive a {
    display: block;
}

.topnav.responsive {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    width: 30%;
    z-index: 1;
    background-color: black;
    margin-left: 70%;



}

/* main container */

.main {
    position: relative;
    width: 95;
    height: 95%;
    border: #fff;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    /* margin-top: 60px; */
}

.menu-side,
.song-side {
    width: 25%;
    height: 90%;
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
}

.song-side {
    width: 75%;

    background-image: url('./images/header-bg.webp');
    opacity: .9;
    box-shadow: 5px 0px 2px #090f1f;

}

.master-play {
    width: 100%;
    height: 10%;
    background: #111727;
}

.menu-side h1 {
    font-size: 20px;
    margin: 15px 0px 0px 20px;
    font-weight: 500;

}

.menu-side .playlist {
    margin: 40px 0px 0px 20px;
}

.menu-side .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    margin: 5px;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

.menu-side .playlist h4:hover {
    color: #fff;
}

.menu-side .playlist h4 span {
    position: relative;
    margin-right: 35px;

}

.menu-side .playlist h4 span::before {
    content: ' ';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

.menu-side .playlist h4:hover span::before {
    border: 2px solid #fff;
}

.menu-side .playlist .bi {
    display: none;
}

.menu-side .playlist .active {
    color: #36e2ec
}

.menu-side .playlist .active span {
    display: none;
}

.menu-side .playlist .active .bi {
    display: flex;
    margin-right: 20px;
}

.menu-side .menu-songs {
    width: 98%;
    height: 320px;
    margin-top: 40px;
    overflow: auto;

}

.menu-side .menu-songs::-webkit-scrollbar {
    display: none;
}

.menu-side .menu-songs li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
    transition: .3s linear;
}

.menu-side .menu-songs li:hover {
    background: rgb(105, 105, 105, .1);
}

.menu-side .menu-songs li span {
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

.menu-side .menu-songs li img {
    width: 30x;
    height: 30px;
    margin-left: 15px;
}

.menu-side .menu-songs li h5 {
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 2px;
    margin: 0px;
}

.menu-side .menu-songs li h5 .subtitle {
    font-size: 9px;
    margin-top: 2px;
    color: #4c5262;
}

.menu-side .menu-songs li .bi {
    position: absolute;
    right: 15px;
}

.master-play {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.master-play .wave {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

.master-play .wave .wave-1 {
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;

}

.master-play .wave .wave-1:nth-child(2) {
    height: 14px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

.master-play .wave .wave-1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;

}

/* javascript classes */
.master-play .active1 .wave-1 {
    animation: wave .5s linear infinite;
}

.master-play .active1.wave-1:nth-child(2) {

    animation-delay: .4s;
}

.master-play .active1 .wave-1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;

}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    1000% {
        height: 10px;
    }
}

.master-play img {
    width: 40px;
    height: 35px;
}

.master-play h5 {
    margin-left: 8px;
    width: 180px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;

}

.master-play h5 .subtitle {
    font-size: 10px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.master-play .icon {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}

.master-play .icon .bi {
    cursor: pointer;
    outline: none;
}

.master-play .icon .shuffle {
    font-size: 17px;
    margin-right: 10px;
    width: 17.5px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.master-play .icon #download-music {
    font-size: 20px;
    margin-left: 10px;
}

.master-play .icon .bi:nth-child(3) {
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}

.master-play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;

}

.master-play #currentStart {
    margin: 0px 0px 0px 20px;
}

.master-play .bar {
    position: relative;
    width: 43%;
    height: 4px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
}

.master-play .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 0%;
    height: 100%;
    top: 0;
    transition: 1s linear;

}

/* .master-play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

.master-play .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;

} */

.master-play .bar input {
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0%;
    z-index: 9999999999999999999999999999;
    cursor: pointer;
    opacity: 0;

}

.master-play .vol {
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin-left: 50px;

}

.master-play .vol .bi {
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -15px;
    left: -30px;
}

.master-play .vol input {
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999999999999;
    opacity: 0;
}

.master-play .vol .vol-bar {
    background: #36e2ec;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.master-play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 100%;
    top: -1.5px;
    transition: 1s linear;
}

.master-play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -6px;
    top: -6px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.mian .song-side {
    z-index: 2;
}

.main.song-side::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;

    z-index: -3;
}

.song-side nav {
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-side nav ul {
    display: flex;

}

.song-side nav ul li {
    list-style: none;
    position: relative;
    font-size: 17px;
    color: #a4aab8;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;

}

.song-side nav ul li:hover {
    color: #fff;
}

.song-side nav ul li:nth-child(1) {
    color: #fff;

}

.song-side nav ul li span {
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: #36e2ec;
    bottom: -5px;
    left: 0;
    border-radius: 20px;
}

.song-side nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    background: rgb(193, 193, 219);
    color: #c4ccdd;
    margin-right: 80px;
}

.song-side nav .search .bi {
    font-size: 13px;
    padding: 3px 0px 0px 10px;
}

.song-side nav .search input {
    background: none;
    border: none;
    outline: none;
    color: #fff;
    padding: 0px 10px;
    font-size: 12px;
}

.song-side .content {
    width: 90%;
    height: 25%;
    margin: auto;
    padding-top: 10px;
}

.song-side .content h1 {
    font-size: 25px;
    font-weight: 600;
}

.song-side .content p {
    font-size: 13px;
    font-weight: 400;
    color: #c1c7d7;
    margin: 5px;
    margin-top: 12px;

}

.song-side .content .buttons {
    margin-top: 15px;
}

.song-side .content button {
    width: 130px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #3caeb4;
    outline: none;
    color: #fff;
    background: #36e2ec;
    cursor: pointer;
    transition: .3s linear;

}

.song-side .content button:hover {
    background: none;
    color: #36e2ec;
}

.song-side .content button:nth-child(2) {
    background: none;
    color: #36e2ec;
}

.song-side .content button:nth-child(2):hover {
    background: #36e2ec;
    color: #fff;
}

.song-side .popular-song {
    width: 90%;
    height: 38%;
    margin: auto;
    margin-top: 0px;
}

.song-side .popular-song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;

}

.song-side .popular-song .h4 .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
    background: none;
    font-size: 24px;
    margin-right: 10px;
    font-weight: 600;
}

.song-side .popular-song .h4 .bi:hover {
    color: #fff;
}

.song-side .popular-song .pop-song {
    display: flex;
    height: 150px;
    margin-top: 15px;
    overflow: auto;
    scroll-behavior: smooth;
}

.song-side .popular-song .pop-song::-webkit-scrollbar {
    display: none;
}

.song-side .popular-song .pop-song li {

    width: 360px;
    height: 140px;
    list-style: none;
    margin-right: 8px;
    transition: .3s linear;
}

.song-side .popular-song .pop-song li:hover {
    background: rgb(105, 105, 170, .1);
}

.song-side .popular-song .pop-song li .img-play {
    position: relative;
    width: 120px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-side .popular-song .pop-song li .img-play img {
    width: 100%;
    height: 100%;

}

.song-side .popular-song .pop-song li .img-play .bi {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

.song-side .popular-song .pop-song li .img-play .bi:hover {
    opacity: 1;
}

.song-side .popular-song .pop-song li h5 {
    padding: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 13px;
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.song-side .popular-song .pop-song li h5 .subtitle {
    font-size: 9px;
    color: #c1c7d7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: -3px;

}

.song-side .popular-artists {
    width: 60%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    float: left;
    margin-left: 50px;

}

.song-side .popular-artists .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.song-side .popular-artists .h4 .bi {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
    background: none;
    font-size: 24px;
    margin-right: 10px;
    font-weight: 600;
}

.song-side .popular-artists .h4 .bi:hover {
    color: #fff;
}

.song-side .popular-artists .item {
    display: flex;
    height: 150px;
    margin-top: 15px;
    overflow: auto;
    scroll-behavior: smooth;
}

.song-side .popular-artists .item::-webkit-scrollbar {
    display: none;
}

.h4 h4 {
    font-size: 18px;
    margin: 0%;
    margin-bottom: 8px;
    padding: 0%;
}

.song-side .popular-artists .item li {
    list-style: none;
    position: relative;
    cursor: pointer;
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.song-side .popular-artists .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

@media screen and (max-width: 600px) {
    .main {
        width: 140%;
        display: flex;
        height: auto;
        margin: 0%;
    }

    .menu-side .menu-songs {
        margin-top: 0%;
    }

    .body {
        width: 100%;
        margin: 0%;
        padding: 0%;
    }

    .menu-side .playlist {
        margin-top: 5px;
    }

    .song-side {
        width: 100%;
        height: auto;
    }

    .menu-side {
        width: 100%;
        height: 90%;
        margin-bottom: 20px;
    }

    .song-side .popular-song {
        margin-top: 30px;
    }

    .search {
        display: none;
    }

    .master-play {
        width: 140%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .master-play img {
        width: 100px;
        height: 100px;
    }
}