body {
    font-family: Arial, sans-serif;
    background: #12121d;
    margin: 0;
    position: relative;
}

.main-container {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    gap: 20px;
    color: #333;
    z-index: 0;

}


.container {
    display: flex;
    flex-direction: column;
    color: #ccb3b3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    background: #1f2229;
    z-index: 0;
    position: relative;
}

#quiz {
    text-align: center;
}

.options {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    margin: 8px;
    margin-right: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background: rgb(184, 150, 106);
}

button:hover {
    color: rgb(184, 150, 106);
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgb(184, 150,
            106);
    background: transparent;
    transition: all 0.5s;

}

.next-btn {
    background-color: #8492b9;
    margin-top: 10px;
}

.next-btn:hover {
    background-color: hsl(60, 100%, 42%);

}

.result {
    text-align: center;
    margin-top: 20px;
    top: 80;
    left: 60;
}

.result h2 {
    color: #4CAF50;
}

.result p {
    font-size: 20px;
    font-weight: bold;
}


.quit {
    float: right;
    position: absolute;

}

/* for music quiz */


.btn.dropdown-toggle {
    width: 150px;
    text-align: center;
}

span.caret {
    position: absolute;
    left: 90%;
    top: 45%;
}

label {
    padding-top: 5px;
}

.form-label {
    padding-left: 0px !important;
}

.form-control {
    border-radius: 100px;
}

.btn-success {
    background-color: #3b7d4a im !important;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #4daf64;
}

img.track {
    border: 3px solid #8a8a8a;
}

.genre select {
    padding: 8px 60px;
    background-color: #8492b9;
    text-align: left;
    border-radius: 14px;
    width: 320px;
    margin: 10px;
    font-size: large;
}

.Playlist select {
    padding: 8px 60px;
    background-color: #8492b9;
    text-align: left;
    border-radius: 14px;
    width: 320px;
    margin: 10px;
    font-size: large;
}

.list-group {
    display: flex;
    flex-direction: column;
    background-color: #8176763f;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
}

.list-group a {
    text-decoration: none;
    color: #efdddd;
    background-color: #4e3939;
    padding: 6px;
}

.row {
    display: flex;
    gap: 40px;
}

.song-details {
    font-size: large;
}

.song-details img {
    width: 100px;
}